body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link_cta {
    font-size: 16px;
    color: aquamarine;
}