body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADING */

.header_main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header_secondary{
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.header_sub_header{
    font-size: 21px;
    color: gray;
}

/* LINKS */

.link_cta {
    font-size: 16px;
    color: aquamarine;
}

/*FOOTER*/
.footer_cta {
    font-size: 21x;
    color: grey;
    text-align: right;
}